/* ---- reset margin ---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.4;
  }

/* ---- navagation bar2 ---- */
.navbar {
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    flex: 1;
  }
  
  .icon, .nav-right svg, .nav-left svg {
    width: 24px;
    height: 24px;
    filter: invert(100%);
    fill: white;
    cursor: pointer;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .nav-icons {
    position: relative;
    display: inline-block;
  }
  
  .red-dot {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: none;
  }
  
  .red-dot.active {
    display: block;
  }
  
  /* ---- cart ---- */
  .cart-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  .cart-content {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-start;
    align-items: stretch;
  }
  
  .cart-left {
    flex: 2;
    max-width: 800px;
    font-size: 16px;
    line-height: 1.9;
    min-height: 100%;
    margin-top: 10px;
  }
  
  .cart-left h1 {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: 700;
  }

  .cart-left p {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .hint {
    color: #c4bdbd;
    font-weight: bold;
    ;
  }

  .cart-left h2 {
    font-size: 32px;
    margin-top: 40px;
    font-weight: 700;
  }

  .btn {
  display: inline-block;
  background-color: #020202;
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 18px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  max-width: 150px;         
  }
  
  /* ---- Summary ---- */
  .cart-summary {
    flex: 1.5;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .cart-summary h2 {
    font-size: 27px;
    margin-bottom: 12px;
    font-weight: 700;
  }

  .cart-summary p {
    font-size: 14px;
    margin: 4px 0;
  }
  
  .summary-row {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    align-content: space-between;
    align-items: center;
  }

  .total{
    margin-top: 12px;
    font-size: 18px;
  }

  .gst-hint {
    font-size: 13px;
    color: #999;
    margin: 10px 0;
  }
  
  .cart-summary input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 10px 0;
  }

  .divider {
    border: none;
    border-top: 1px solid black;
    margin: 20px 0;
  }
  
  .btn-checkout {
    width: 100%;
    background-color: #020202;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 24px;
    font-weight: bold;
    margin: 20px auto 0;
    cursor: pointer;
    display: block;
    font-size: 16px;
    border: none;
    text-align: center;
  }
  
  .cart-left, .cart-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
  }
  .hidden {
    display: none !important;
  }