
/* ---- reset margin ---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.4;
  }
  
  /* ---- navagation bar ---- */
  .navbar {
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    flex: 1;
  }
  
  .icon, .nav-right svg, .nav-left svg {
    width: 24px;
    height: 24px;
    filter: invert(100%);
    fill: white;
    cursor: pointer;
  }

  .nav-right{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  /* -- Banner -- */
  .hero {
    height: 60vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  .hero1 {
    background-position: center 65%; /* Adjusted position for better visibility */
}

  
  .hero-text {
    text-align: center;
    color: white;
    padding: 20px;
  }
  
  .hero h2 {
    font-size: 36px;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }
  
  .hero p {
    font-size: 16px;
    margin-bottom: 27px;
  }
  
  .btn {
    background-color: black;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #333;
  }

  .side-menu{
    padding: 90px;
    position: fixed;
    top: -60vh;
    left: 0;
    width: 100%;
    transition: top 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    z-index: 999;
  }

  .side-menu.active{
    top: 0;
    opacity: 1;
}
  
  /* remove default format */
  .category-list {
    list-style: none;
    padding: 0;

  }
  
  .category-list li {
    margin-bottom: 20px;
  }
  
  .category-list li a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: #f0efef;
    display: flex;
    transition: color 0.2s ease;
    
  }
  
  .category-list li a:hover {
    color: #007bff;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.729);
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }
  
  .overlay.active {
    opacity: 1;
    visibility: visible;
  }
  
  /* --- mobie -- */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: row;
      padding: 10px 16px;
    }
  
    .logo {
      font-size: 18px;
      text-align: center;
    }

    .nav-right{
        gap: 10px;
    }
  
    .hero {
      height: 50vh;
    }
  
    .hero1
    {
      background-position: center 100%; /* Adjusted position for better visibility */
      background-size: 150%;
    }
    .hero h2 {
      font-size: 24px;
    }
  
    .hero p {
      font-size: 14px;
    }
  
    .btn {
      font-size: 14px;
      padding: 10px 20px;
    }
  }